h2[id], p[id]{
    background-color: aquamarine;
}

a[href="#"]{
    background-color: blueviolet;
}

*[class^="info"]{
    color: green;
}

*[class*="text"]{
    background-color: burlywood;
}

h2[class$="title"]{
    font-style: italic;
}