:root{
    --color-aueb: #762124;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.logo > img{
    height: 120px;
    width: auto;
}

header{
    display: flex;
    background-color: var(--color-aueb);
}

nav{
width: 700px;
background-color: beige;
}

nav> ul{
    list-style: none;
    height: 120;
    display: flex;
    justify-content: space-around;
    align-items: center;
}