div[class^=box]{
    width: 60px;
    height: 50px;
    border: 1px solid black;
    background-color: lightblue;
    /*margin:  5px;*/
}

.container{
    width: 250px;
    height: 250px;
    border: 1px solid black;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.box1{
    order: 1;
}

.box3{
    order: 2;
}